<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../js/tailwindcss.js"></script>
  <script src="../../js/tailwind-config.js"></script>
</head>
<body>
  <div class="flex justify-center text-base">
    <div class="w-[1000px] flex justify-start leading-[80px] text-[16px]" id="demo">
      <div class="mr-40">home</div>
      <div id="screenshot" class="cursor-pointer">截图</div>
    </div>
  </div>
  <div class="flex justify-center mt-[20px]">
    <img src="" class="w-[400px] h-[300px]">  
  </div>
  <script src="index.js"></script>
</body>
</html>